* {
    padding: 0;
    margin: 0;
}

.bar_up{
    background-color: greenyellow;

}
.inlog{
    background-color:lightslategray;
    padding-left:47%;
    padding-top:25%;
    min-height:68.6vh;
}

.inlog_submit{
    padding-left:10%
}

.bar_down{
    background-color:greenyellow;
    box-sizing:border-box;
}

