* {
    padding: 0;
    margin: 0;
}

.inlog{
    background-color: blueviolet;
    width: 50%;
    margin: 200px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    padding: 10px;
}

