* {
    padding: 0;
    margin: 0;
}

.div{
    display:inline-flex;
}
.bar_up{
    background-color: greenyellow;
    height:5vh

}

.login_txt{
    background-color: lightslategray;
    text-align:center;
    height:32.5vh;
}

.inlog{
    background-color:lightslategray;
    text-align:center;
    height:92.5vh;


}

.inlog_submit{
    text-align:center;
}

.button{
    background-color:rgb(235, 223, 223);
    border:none;
    color:rgb(0, 0, 0);
    width:10vh;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:11px;
    max-height:15px;

}

.bar_down{
    background-color:greenyellow;
    height:2.5vh;
}


