{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
</head>
<body>
    <div class="barUpTxtLeft"> <h1 class="guardian">Energy-Guardian</h1> </div>

    <div class="bar_up">
        <!--<a href="home.html" class="barUpTxtRight">Homepage</a>-->
        <a href="veri.html" class="barUpTxtRight">Sign Up</a>
    </div>

    <div class="mid">
        <h1 class="login_txt">Login</h1>

        <form class="inlog_boxes" method="post">
            {% csrf_token %} 
            <!--E-mailbox, Passwordbox and Submitbutton-->
            <label for="email">E-mail adress:</label><br>
            <input type="email" placeholder="example@hotmail.com" name="email"><br>
            <label for="password">Password</label><br>
            <input type="password" placeholder="Password" name="password"><br>

            <a href="main">Continue</a><br>
            <button class="button" onclick="login()">Testing</button><br>
            <a href="veri.htm"><button class="button">SIGN UP</button></a><br>
        </form>
    
        <img class ="login_logo" src="{% static 'logo.png' %}">
    </div>

    <div class="bar_down">
        <br>
    </div>
</body>
</html>