{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Energy Guardians</title>
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
  </head>
  <body>
      <div class="header">
        <a href="/"><h1 class="title-navbar">Energy-Guardian</h1></a>
        <a href="signup" class="navbar-link">Sign Up</a>
        <a href="login" class="navbar-link">Login</a>
      </div>
    
      <div class="mid">
        <img class="logoHome" src="{% static 'logo.png' %}" alt="logo" style="width:30%;" width="auto" height="auto">
        <h1> Energy Guardians </h1>
        <p>
          We are an organisation that is trying to reduce electricity usage for companies.
        </p>
      </div>
        
      <div class="bar_down">
      </div>
  </body>
</html>