{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">

    <!-- Add this to your template, for example, base.html -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="header">
        <!--  <a href="main"><h1 class="title-navbar">Energy-Guardian</h1></a> -->
        <a href="main"><h1 class="title-navbar">Welcome, {{user}}</h1></a>

        <a href="logout" class="navbar-link">Logout</a>
        <!-- <a href="about" class="navbar-link">About</a> -->
    </div>

    <div class="main">
        <div class="graph">
            <div class="module-header">
                <h1>Usage</h1>
            </div>
            <div class="chart">
                <canvas id="myChart" style="width: 100%;max-width:900px"></canvas> 
            </div>
        </div>

        <div class="data">
            <div class="module-header">
                <h1>Average Usage</h1>
            </div>
            <div class="blocks">
                <div class="data-types">
                    <div class="center">
                        Last hour: <br>
                        {{hour}} kWh
                    </div>
                </div>
                <div class="data-types">
                    <div class="center">
                        Last day: <br> 
                        {{day}} kWh
                    </div>
                </div>
                <div class="data-types">
                    <div class="center">
                        Last week: <br>
                        {{week}} kWh
                    </div>
                </div>
                <div class="data-types">
                    <div class="center">
                        Last month: <br>
                        {{month}} kWh
                    </div>
                </div><br>
                <div class="data-types">
                    <div class="center">
                        Last year: <br>
                        {{year}} kWh
                    </div>
                </div>
                <!-- {% for x in voltage %}
                    <p>{{x}}</p>
                {% endfor %} -->
            </div>
        </div>
        
        <div class="devices">
            <div class="module-header">
                <h1>Devices</h1>
            </div>
            <div class="blocks">
                {% for x in device %}
                <div class="device-box">
                    <svg height="50" width="50">
                        <circle cx="25" cy="25" r="10" stroke="black" stroke-width="2" fill="{{status}}"/>
                    </svg>
                    <p>{{x}}</p>
                </div>
                {% endfor %}
            </div>
            <img class="main-logo" src="{% static 'logo.png' %}">
        </div>
    </div>

    
    <script>
        // Output the JSON data in a script tag
        var dates = {{ date|safe }};
        var values = {{value|safe}};

        {% for x in device %}
        var device = '{{x|safe}}';
        {% endfor %}

        console.log(device);

        // var dates = combinedData[0];
        // var values = combinedData[1];

        // console.log(dates);
        // console.log(values);


        // Access the data from the data-chart-data attribute
        //var chartData = JSON.parse(document.getElementById('myChart').getAttribute('data-chart-data'));
        
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: device,
                    data: values,
                    fill: false,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true,
                        maxRotation: 45,  // Maximum label rotation angle
                        minRotation: 0,   // Minimum label rotation angle
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>