{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing Up</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
</head>

<body>
    <div class="header">
        <a href="/"><h1 class="title-navbar">Energy-Guardians</h1></a>

        <a href="login" class="navbar-link">Login</a>
        <a href="/" class="navbar-link">Home</a>
        <!-- <a href="about" class="navbar-link">About</a> -->
    </div>

    <div class="main-login">
        <h1 class="login_txt">Energy-Guardian</h1>

        {% if passwordFail %}
        <p class="error">Passwords do not match<br>Please try again</p>
        {% endif %}

        {% if create_user_failed %}
        <p class="error">Email-Address is allready in use<br>Please use a different email-address to sign up</p>
        {% endif %}

        {% if toLongFirst %}
        <p class="error">Shorten your firstname between 0 and 255 symbols</p>
        {% endif %}

        {% if toLongLast %}
        <p class="error">Shorten your lastname between 0 and 255 symbols</p>
        {% endif %}

        {% if toLongEmail %}
        <p class="error">Shorten your email between 0 and 255 symbols</p>
        {% endif %}

        {% if toShortPassword %}
        <p class="error">Make sure your password is between 8 and 20 symbols</p>
        {% endif %}

        {% if toLongPassword %}
        <p class="error">Make sure your password is between 8 and 20 symbols</p>
        {% endif %}

        {% if password_failed %}
        <p class="error">The passwords do not match</p>
        {% endif %}
        <!-- <form class="login" method="post" onsubmit="signUp(event)"> -->
        <form method="post" class="login">
            {% csrf_token %}
            <!--E-mailbox, Passwordbox and Submitbutton-->
            <label for="First Name">First Name</label><br>
            <input type="text" placeholder="First Name" name="firstName" id="firstname"><br></br>

            <label for="Second Name">Last Name</label><br>
            <input type="text" placeholder="Second Name" name="secondName" id="secondname"><br></br>

            <label for="fEmail">E-mail Adress:</label><br>
            <input type="Email" placeholder="example@hotmail.com" name="email" id="email"><br><br>

            <label for="fPassword">Password (8-20 symbol)</label><br>
            <input type="Password" placeholder="Password" name="password" id="password"><br></br>

            <label for="fRepeat Password">Repeat Password (8-20 symbols)</label><br>
            <input type="Password" placeholder="Password" name="passwordRepeat" id="password"><br></br>

            <input type="submit" value="Sign Up" id="submit">
        </form>

        <img class="logo-login" src="{% static 'logo.png' %}">

    </div>

    <div class="bar_down">
        <br>
    </div>
</body>
</html>