* {
    padding: 0;
    margin: 0;
    font-family: bahnschrift;
    font-weight: 400;
}

body {
    background-color: rgb(248, 248, 248);
    background-color:lightslategray;
}

img {
    pointer-events: none;
    user-select: none;
}

/* layout header and footer */
.header{
    text-size-adjust:1vh;
    background-color: #333;
    width:100%;
    font-size:2vh;
    height:7vh;
    z-index: -2;
    overflow: hidden;
}

.title-navbar{
    position:fixed;
    background-color: #04AA6D;
    text-align:center;
    height:1.45em;
    min-width:300px;
    color:white;
    padding-top: 1.25vh;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding-top: 2.2vh;
    padding-right: 20px;

    float: right;
}

.bar_down{
    bottom: 0;
    height: 3vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: auto;
    background-color: #04AA6D;
    overflow-x: hidden;
    transition: 1.5s;
    overflow-y:hidden;
}

/* layout inlogscherm */
.main-login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    /*background-color: rgb(248, 248, 248);*/
    padding: 20px;
}

.login_txt{
    text-align:center;
}

.inlog_boxes{
    bottom:0;
    top:auto;
    text-align:center;
    width:100%;
    height:20vh;
    line-height:30px;
}
.logo-login{
    height:40vh;
    width:40vh;
    position:absolute;
    bottom:0.5vh;
    right:0vh;
}

#email, #password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#submit{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.mid{
    position:absolute;
    background-color:lightslategray;
    text-align:center;
    top:6.9%;
    width:100%;
    height:93vh;
    z-index:-3;
}

.showTxtBarDown{
    position:relative;
    text-decoration:none;
    top:10%;
    width:100%;
    text-align:center;
    margin:30px;
    font-size:4vh;
    line-height:10vh;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

.close{
    position:absolute;
    top:20px;
    right:45px;
    font-size:6vh;
    text-decoration:none;
    color:white;
}

.changePassword{
    bottom: 0;
    height: 0vh;
    width: 0vw;
    position: fixed;
    z-index: 1;
    left: 0;
    top: auto;
    background-color: #333;
    overflow-x: hidden;
    transition: 1.5s;
    overflow-y:hidden;
    text-align:center;
}

.closePassword{
    position:absolute;
    top:20px;
    left:17vw;
    font-size:6vh;
    text-decoration:none;
    color:white;
    z-index:1;
}

.setDevice{
    bottom: 0;
    height: 0vh;
    width: 0vw;
    position: fixed;
    z-index: 1;
    left: 0;
    top: auto;
    background-color: #333;
    overflow-x: hidden;
    transition: 1.5s;
    overflow-y:hidden;
    text-align:center;
    color:whitesmoke;
}

.closeDevice{
    position:absolute;
    top:20px;
    left:17vw;
    font-size:6vh;
    text-decoration:none;
    color:white;
    z-index:1;
}


/* layout home */
.logoHome{
    display:block;
    margin-left:auto;
    margin-right:auto;
}


/* layout Main page */
body{
    scrollbar-width:thin;
    scrollbar-color:#808080 #f0f0f0;
    margin:0;
}

.mainH3{
    font-size:1.5vw;
    color:black;
}

.squareMain{
    height:calc(50px + 15vh);
    width:calc(50px + 7.5vw);
    background-color: greenyellow;
    border-radius:15px;
    border:1px solid;
}

.plot{
    font-size:larger;
}
.error{
    position:absolute;
    bottom:7.5vh;
    left:3.25vw;
    color:red;
    font-size:1.5vw;
}

.enableSettings{
    position:absolute;
    right:1vw;
    font-size:calc(2vh);
}
.inlog_boxes{
    margin-top: -10%;
}